/* Général */
.main-content, 
.section-customMade, 
.section-concept{
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-subtitle, .section-title{
  margin: 10px 0px 0px 15px;
}

.section-title{
  font-size: 1.5rem;
}

.paragraphe{
  font-family: var(--font-main);
  padding: 15px 11px 15px 15px;
  font-weight: 400;
  color: var(--color-p-light);
}

.section-about{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.section-about__img{
    width: 200px;
    height: 250px; 
    margin: 50px 0px 25px 100px;
    background-image: url('./../img/accueil/dessin_technique_LM_Menuisier.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.4;
  }

.section-about__artisanat{
    margin: -175px 0px 150px -230px;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 2.125rem;
    letter-spacing: 0.56rem;
    color: var(--color-decorative);
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.section-about__content{
  width: 96%;
}

.section-interiorDesign{
  position:relative;
  margin-top: 120px;
}

.section-interiorDesign__img{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 300px;
  background-image: url('./../img/accueil/interior-design-xs.webp');
  background-size: cover; 
  background-repeat: no-repeat;
}

.section-interiorDesign__img-decorative{
  position: absolute;
  z-index:-1;
  width: 100%;
  height: 190px;
  top: -90px;
  left: 0;
  opacity: 0.2;
  background-image: url('./../img/accueil/img-deco.png');
  background-size: contain; 
}

.section-interiorDesign__content{
  margin-top: -8px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--bg-color-light);
  background-color: var(--bg-color-sombre);
}

.section-interiorDesign__p{
  color: var(--bg-color-light);
}

.section-customMade__icone,
.section-concept__title-icone{
  display: block;
  width: 64px;
  height: 64px;
  margin: 0px auto;
}

.section-customMade__icone{
  background-image: url('./../img/icones/measuring-tape.png');
  background-size: contain; 
}

.section-customMade__txt, 
.section-customMade__title{
  text-align: center;
  margin-left: 0px;
}

.section-concept{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 120px;
}

.section-concept__container-img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.section-concept__img-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: var(--color-decorative-secondary);
  background-size: 100% 100%;
}

.section-concept__img{
  width: 100%;
}

.section-concept__img-decorative{
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 150px;
  background-image: url('./../img/accueil/img-deco.png');
  background-size: 100% 100%;
}

.section-concept__title{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.section-concept__title-icone{
  width: 48px;
  height: 48px;
  margin: inherit;
  background-image: url('./../img/icones/workflow.png');
  background-size: contain; 
}

.section-concept__title-title{
  text-transform: capitalize;
  font-size: 1.5rem;
}

ul.section-concept__list{
  counter-reset: item; /* Initialise le compteur */
  margin-left: 30px;
  list-style-type: none;
  padding: 0;
}

ul.section-concept__list li {
  position: relative;
  padding-left: 40px; 
  padding: 8px 0px 8px 40px;
}

ul.section-concept__list li::before {
  position: absolute;
  left: 0;
  bottom: 8px;
  font-family: var(--font-subtitle);
  color: var(--color-decorative, #965634);
  font-size: 1.8rem;
  content: "0" counter(item) " "; /* Ajoute un chiffre suivi d'un point */
  counter-increment: item; /* Incrémente le compteur */
}

ul.section-concept__list li.list-definition::before, 
ul.section-concept__list li.list-measure::before{
  font-size: 2rem;
}



/* ================================================================
                          MEDIAS QUERIES
=================================================================== */

@media (min-width: 472px) {
  .section-about__content {
    width: 80%;
  }

  .section-concept__img-bg{
    width: 150px;
    height: 150px;
  }

  .section-concept__img-decorative{
    width: 150px;
    height: 200px;
  }

  .section-interiorDesign__img{
    height: 450px;
    background-image: url('./../img/accueil/interior-design-s.webp');
  }
}

@media (min-width: 768px) {

  .section-about, 
  .section-about__content,
    .section-customMade {
    margin-left: auto;
    margin-right: auto;
  }

  .section-about{
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 170px 0px 120px 0px;
  }

  .section-about__img{
    position: absolute;
    top: -20px;
    right: 0px;
  }

  .section-about__artisanat {
    width: 100px;
    margin: inherit;
    margin-top: 370px;
    font-size: 4.5rem;
  }

  .section-interiorDesign__img{
    height: 470px;
  }

  .section-interiorDesign__content, 
  .section-customMade, 
  .section-concept{
    padding: 50px 35px 70px 35px;
  }

  .section-customMade{
    padding-top: 120px;
    max-width: 850px;
  }

  .section-concept{
    padding-bottom: 120px
  }

}


@media (min-width: 1024px) {
  .section-about{
    width: 80%;
    padding-top: 220px;
    padding-bottom: 120px;
  }

  .section-about__img {
    top: 0px;
  }

  .section-about__artisanat{
    transform: rotate(-90deg);
  }

  .section-interiorDesign__img{
    height: 650px;
    background-image: url('./../img/accueil/interior-design-m.webp');
  }

  .section-concept{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-concept__img-bg {
    width: 200px;
    height: 200px;
  }

}


@media (min-width: 1200px) {
  .section-about{
    width: 90%;
    padding-top: 300px;
    padding-bottom: 120px;
  }

  .section-about__img {
    top: 50px;
    right: 45px;
    width: 290px;
    height: 340px;
  }

  .section-about__p{
    width: 80%;
  }

  .section-interiorDesign{
    margin-top: inherit;
  }
  
  .section-interiorDesign__img{
    height: 850px;
    background-image: url('./../img/accueil/interior-design-l.webp');
  }

  .section-interiorDesign__img-decorative {
    width: 50%;
    bottom: 0px;
    left: 0;
    top: inherit;
  }

  .section-interiorDesign__content {
    position: relative;
    z-index: 10;
    width: 50%;
    margin-top: -400px;
    margin-left: 50%;
  }

  .section-concept{
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  .section-concept__main{
    width: 47%;
  }

 .section-concept__container-img {
    padding: 3%;
    width: 60%;
  }

  .section-concept__img-decorative {
    width: 200px;
    height: 250px;
  }

  .section-concept__p, 
  ul.section-concept__list {
   margin-left: 70px;
  }

  ul.section-concept__list {
    margin-left: 100px;
  }

  a.section-concept__button{
    margin: 30px 0px 30px 70px;
  }

}

@media (min-width: 1440px) {

  .section-about{
    padding-top: 270px;
  }

  .section-interiorDesign__img{
    height: 850px;
    background-image: url('./../img/accueil/interior-design-xl.webp');
  }

  .section-interiorDesign__content {
    margin-top: -350px;
  }

  /* .section-concept{
    width: 80%;
  } */

  .section-concept__container-img {
    margin-top: inherit;
  }

  .section-concept__img-decorative {
    height: 280px;
  }

}

@media (min-width: 1668px) {
  .section-interiorDesign__img{
    height: 900px;
  }

  .section-concept{
    width: 80%;
  }

  .section-concept__img-decorative {
    height: 300px;
  }

}


