/* Général */
@import url('fonts.css');
  
:root {

  --bg-border: #C7714A;
  --bg-color-beige: #CDC6BE;
  --bg-color-blue: #172733;
  --bg-color-grey: #F6F6F6;
  --bg-color-light: rgba(255, 255, 255, 1);
  --bg-color-sombre: #37372F;

 
  --color-decorative: #965634;
  --color-decorative-secondary:#CDC6BE;
  --color-h2:#161616;
  --color-text: #2C2C2C;
  --color-p-light: #505050;



  --font-main:  'Open Sans', Arial, sans-serif;
  --font-title: 'Poppins', Arial, sans-serif;
  --font-subtitle: 'Cormorant Garamond';

  --font-size-main: 16px;

}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-weight: 400;
  letter-spacing: 0.062rem;
  line-height: 1.6rem;
}

body{
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--font-size-main);
  /* letter-spacing: 0.125rem;
  line-height: 1.6rem; */
}

.sr-only, .visuallyhidden{
  position: absolute;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.sr-only,
.visuallyhidden, 
hr{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
}


ul, li , a{
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/* ============================================
                  Header
============================================ */

.header__navbar{
  width: 100%;
  height: 100px;
  
}

.header__link{
  display: block;
  width: 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.header__link-logo{
  width: 200px;
  min-width: 180px;
}

.header__btn{
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 20px;
  border-radius: 50%;
  background: var(--color-h2);
  top: 30px;
  right: 25px;
  cursor: pointer;
  z-index: 10;
}

.header__btn-ligne{
  position: absolute;
  width: 20px;
  height: 3px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background:#fff;
  transform: translate(-50%, -50%);
}

.header__btn-ligne::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 7px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.header__btn-ligne::after{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 7px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.header__btn.active .header__btn-ligne {
  background: transparent; /* Masque la barre centrale*/
}

.header__btn.active .header__btn-ligne::before {
  top:0px;
  transform: rotate(45deg);
}

.header__btn.active .header__btn-ligne::after{
  bottom:0px;
  transform: rotate(-45deg);
}

  /****************** Nav menu ******************/

nav.header__menu {
  position: relative;
  visibility: hidden;         
  opacity: 0;      
  background-color: var(--bg-color-light);           
  transition: all 0.3s ease-in-out;
  z-index: 10;
}


nav.header__menu.active {
  visibility: visible;    
  height: 664px;
  margin-top: -10px;  
  padding: 75px 0px 75px 30px;
  color: var(--color-decorative, #965634);
  opacity: 1;      
  transition: all 0.3s ease-in-out;        
}

#menu-main-menu, 
#menu-footer{
  display: flex;
  flex-direction: column;
}

#menu-main-menu a:hover, 
#menu-footer a:hover, 
.toggle-button:hover {
  color: var(--color-decorative, #965634);
  position: relative; /* Nécessaire pour positionner l'élément ::after */
}

#menu-main-menu a:hover::after,
.header__menu .toggle-button:hover::after {
  content: '';
  position: absolute;
  width: 100%; /* Le soulignement prendra toute la largeur du lien au survol */
  height: 1px; /* Épaisseur du soulignement */
  background: var(--color-decorative, #965634); /* Couleur du soulignement */
  bottom: 0; /* Soulignement sous le texte */
  left: 0; /* Le soulignement commence à gauche */
  transition: width 0.3s ease-in-out; /* Transition fluide du soulignement */
}

.header__menu .current-menu-item a, .header__menu .toggle-button {
  position: relative;
}

.header__menu .toggle-button::after,
.header__menu .current-menu-item a::after,
.header__menu a::after {
  content: '';
  position: absolute;
}

.header__menu .toggle-button::after {
  /* content: '';
  position: absolute; */
  width: 0; /* Le soulignement commence à 0 */
  height: 1px; /* Épaisseur du soulignement */
  background: var(--color-decorative, #965634); /* Couleur du soulignement */
  bottom: 0; /* Distance sous le texte */
  left: 0; /* Le soulignement commence à gauche */
  transition: width 0.3s ease-in-out; /* Animation du soulignement */
}

.header__menu .current-menu-item a{
  color:var(--color-decorative, #965634);;
}

.header__menu .current-menu-item a::after {
  /* content: '';
  position: absolute; */
  width: 100%; /* Le soulignement prend toute la largeur du lien actif */
  height: 1px; /* Épaisseur du soulignement */
  background: var(--color-decorative, #965634);; /* Couleur du soulignement */
  bottom: 0; /* Distance sous le texte */
  left: 0; /* Commence à la gauche */
  transition: none; /* Pas de transition pour le lien actif */
}

/* Soulignement au survol des liens */
.header__menu a:hover::after {
  width: 100%; /* Le soulignement prend toute la largeur au survol */
}

.header__menu a {
  position: relative; /* Nécessaire pour le pseudo-élément ::after */
}

.header__menu a::after {
  /* content: '';
  position: absolute; */
  width: 0; /* Le soulignement commence à 0 au départ */
  height: 1px; /* Épaisseur du soulignement */
  background: var(--color-decorative, #965634); /* Couleur du soulignement */
  bottom: 0; /* Distance sous le texte */
  left: 0; /* Le soulignement commence à gauche */
  transition: width 0.3s ease-in-out; /* Animation du soulignement */
}

#menu-item-120,
#menu-item-128,
ul#sub-menu-120.sub-menu,
ul#sub-menu-128.sub-menu{
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
}

ul#sub-menu-120.sub-menu,
ul#sub-menu-128.sub-menu {
  visibility: hidden;
  height: 0px;
  margin-left: 20px;
  padding-top: 16px;
}

#menu-main-menu li,
#menu-footer li,
#menu-item-120 li,
#menu-item-128 li,
ul#sub-menu-120.sub-menu li,
ul#sub-menu-128.sub-menu li {
  height: 40px;
}

li#menu-item-120,
li#menu-item-128{
  height: auto;
}

.toggle-button{
  border: none;
  background-color: transparent;
  margin-bottom: -30px;
  font-size: var(--main-font-size);
}

.toggle-button-img{
  height: 15px;
  margin: 0px 5px -3px 10px;
}


 /****************** Header banner ******************/
.header__banner{
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url('./../img/menuisier_artisan_createur_xs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__banner-title{
  position: absolute;
  bottom: 70px;
  width: 100%;
  max-width: 360px;
  padding: 25px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-title);
  font-size: 1.175rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.header__banner-subtitle{
  display: block;
  font-family: var(--font-subtitle);
  text-transform: lowercase;
  font-size: 1.5rem;
}


  /****************** Header contact ******************/

.header__contact{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 22%;
  /* width: 50px; */
  width: 35px;
  /* height: 170px; */
  height: 150px;
  background-color: var(--bg-color-light, #FFF);
  z-index: 9;
  border-radius: 5px 0px 0px 5px;
}

.header__contact svg{
  width: 25px;
  height: 25px;
  margin: 10px;

  /* width: 32px;
  height: 32px; */
}


a.header__contact-email:hover, 
a.header__contact-whatsapp:hover, 
a.header__contact-phone:hover{
  background-color: var(--bg-color-beige);
  border-radius: 5px 0px 0px 5px;
}


/* ============================================
                  FOOTER
============================================ */

.footer{
  position: relative;
  background-color: var(--color-h2);
}

.footer ul, .footer li, button[aria-controls='sub-menu-128']{
  padding: 0px 0px 20px 0px;
}

#sub-menu-128 {
  margin-top: 10px;
}

.sub-menu-128 a {
  padding : 10px;
}

.footer p{
  letter-spacing: 0.125rem;
}

.footer p, .footer__menu a, .footer__menu button
{
  color: var(--bg-color-light);
}

.footer__contact{
  display: flex;
  flex-direction: column; /* Les éléments sont alignés en colonne */
  /* justify-content: center;  */
  align-items: center; /* Centre les éléments horizontalement */

}

.footer__contact ul{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 20px 18px;
  border-bottom: 8px solid var(--color-text);
}

.footer__contact ul{
  margin: 20px 8px;
}

.footer__contact li{
  padding: 15px 10px;
}

.footer__contact a{
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 300;
  color: var(--bg-color-light);
  padding: 0px;
}

.footer__contact svg{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.footer__main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bg-color-light);
  margin: 50px 0px;
  width: 100%;
}

.footer__main-nav, .footer__main-hurly{
  width: 300px;
}

.footer__main-presentation{
  position: relative;
  margin: 50px 0px;
}

.footer__link-logo{
  width: 205px;
  height: auto;
  margin-left: 30px;
}

.footer__main h1{
  width: 310px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  color: var(--bg-color-light);
}

.footer__img-deco{
  position: absolute;
  top: 10px;
  right: 280px;
  width: 100px;
  height: 140px;
  opacity: .05;
}

.nav-navigation, .hurly{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.hurly-day{
  margin-bottom: 10px;
}

.footer__socialMedia,
.legalNotices,
.footer__legalNotices a{
  margin-left: auto;
  margin-right: auto; 
}

.footer__socialMedia{
  display: block;
  width: 50px;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;        
}

.footer__socialMedia:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
}

.footer__legalNotices{
  display: flex;
  background-color: var(--bg-color-light);
}

.legalNotices{
  position: relative;
  width: 100%;
  max-width: 360px;
  padding-top: 25px;
}

 .footer__legalNotices a{
  display: block;
  width: 340px;
  color: var(--color-text);
  font-size: 0.75rem;
}

.footer__legalNotices a:hover{
  color: var(--color-decorative);
}

.legalNotice-creator{
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.legalNotice-iconeLux{
  position: absolute;
  top:25px;
  /* left: 410px; */
  left: 310px;
  width: 45px;
  height: 45px;
}

