.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 3; /* Juste en dessous de la modale */
    display: none; /* Caché par défaut */
}

main.prestations{
    position: relative;
}

main.prestations section{
    position: relative;
    padding: 60px 10px;
   
}

.section-prestation__txt{
    color: var(--color-decorative, #965634);
}

button.open-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 420px;
    height: 60px;
    border-bottom: 1px solid var(--color-decorative-secondary);
    padding: 15px 0px 0px 0px;
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.124rem;
    text-transform: uppercase;
    color: var(--color-h2, #161616);
    cursor: pointer;
  }
  
  button.open-modal:hover {
    color: var(--color-decorative, #965634)
  }

  span.icon{
    display: block;
    width: 26px;
    height: 26px;
  }

  ul.section-prestation__list{
    margin-left: 25% ;
    padding-top: 40px;
  }
    



/* Modales */

.modal[aria-hidden="false"] {
    display: flex;
  }


section.modal {
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    max-height: 934px;
    /* margin: 100px auto; */
    padding: 10px;
    background-color: var(--bg-color-light, #FFFFFF);
    border-radius: 5px;
    box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
  }

 
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close-modal {
    margin-top: 10px;
    background-color: #dc3545;
  }
  
  .close-modal:hover {
    background-color: #c82333;
  }
   
  /* Cacher le contenu d'arrière-plan */
  body.no-scroll, html.no-scroll{
    overflow: scroll;
    height: 100%;
  }

