main.arrange{
    margin: 120px auto 0px auto;
    max-width: 1420px;
}

/* Main */

.arrange section,
.arrange__contact{
    margin : 100px 0;
}
.arrange .section-subtitle{
    margin-left: 0px;
}
.arrange-title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.arrange img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.arrange__header {
    width: 96%;
    text-align: center;
}

.arrange__header-subtitle{
    margin-bottom: var(--margin-bottom-subtitle);
    color: var(--color-decorative);
}

.arrange-shelf__img,
.arrange__combined-img, 
.arrange__combined-img-rect,
.arrange__contact,
.arrange__contact-title,
.arrange__room-img,
.arrange__laundry-img,
.arrange__room-img,
.arrange__room-img-col1,
.arrange__room-img-col2,
.arrange__laundry-img{
    display: flex;
    flex-direction: column;
}

/* 
    Shelf 
*/
.arrange-shelf__main{
    position: relative;
}

.arrange-shelf__title{
    margin-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-decorative);
}

.arrange-shelf__img{
    gap: 30px 0px;
}

.arrange-shelf__img img{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.arrange-shelf__img-tall img{
    max-width: 450px;
    max-height: 700px;
}

.arrange-shelf__img-small img,
.arrange-shelf__img-square img{
    width: 90%;
    max-width: 380px;
}

.arrange-shelf__img-small img{
    max-height: 440px;
}

.arrange-shelf__img-square img{

   max-height: 380px;
}

.arrange-shelf__img-txt{
    position: relative;
}

.arrange-shelf__p{
    position: absolute;
    z-index: 20;
    bottom: 20px;
    max-width: 400px;
    color: #FFFFFF;
    text-shadow: 3px 3px 6px #000;
}

.arrange-shelf__banner{
    position: absolute;
    z-index: -2;
    bottom: -100px;
    width: 100%;
    height: 90%;
    background-color: var(--bg-color-blue);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* 
    Combined
*/
section.arrange__combined{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
}

.arrange__combined img{
    width: 90%;
}

.arrange__combined-img{
    position: relative;
}

.arrange__combined-img, 
.arrange__combined-img-rect{
    gap: 30px 0;
}

.arrange__combined-img-square img{
    margin-left: auto;
}

.arrange__combined-content::before{
    content:"";
    display: block;
    width: 50px;
    height: 2px;
    margin: 0px auto 30px auto;
    background-color: var(--color-decorative);
}

.arrange__combined-content{
    margin-bottom: 40px;
}

.arrange__combined-subtitle,
.arrange__combined-title,
.arrange__combined-p, 
.arrange__contact-p{
    text-align: center;
}

.arrange-combined__banner{
    position: absolute;
    z-index: -2;
    top: 120px;
    width: 100%;
    height: 75%;
    margin: auto;
    background-color: var(--bg-color-grey);
    /* background-color: palevioletred; */
}

/* Icones */
.arrange__icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 164px;
}

.arrange .icone{
    display: block;
    width: 48px;
    height: 48px;
    background-size: cover; 
    background-repeat: no-repeat;
}

.arrange__icones-kitchen{
    background-image: url('./../img/icones/meuble-cuisine.png');
}

.arrange__icones-bathroom{
    background-image: url('./../img/icones/salle-de-bains.png');
}

.arrange__icones-dressing{
    background-image: url('./../img/icones/dressing.png');
}

.arrange__icones-library{
    background-image: url('./../img/icones/bibliotheque.png');
}

.arrange__icones-projet{
    background-image: url('./../img/icones/projet.png');
}


/* 
    Contact 
*/
.arrange__contact,
.arrange__contact-title{
    align-items: center;
}

.arrange__contact-p{
    max-width: 625px;
}

.arrange__contact .btn-beige{
    width: 250px;
}


/* 
    Room & laundry
*/
.arrange__room-main-title,
.arrange__laundry-main-title{
    margin-left: 20px;
    padding: 10px 0px 0px 20px;
    border-left: solid 4px var(--color-decorative);
}

.arrange__room-p, 
.arrange__laundry-p{
    margin-left: 30px;
    margin-bottom: 35px;
}

.arrange__room-img,
.arrange__laundry-img{
    gap: 10px 0px;
}

/* 
    Room
*/
.arrange__room-img {
    align-items: flex-start;
    row-gap: 10px;
    width: 100%;
}

.arrange__room-img-col1,
.arrange__room-img-col2 {
    row-gap: 10px;
}

.arrange__room-img-col1 img,
.arrange__room-img-col2 img {
    width: 100%;
}

/* 
    Laundry 
*/
section.arrange__laundry{
    margin-bottom: 0;
}

.arrange__laundry-txt{
    position: relative;
}

.arrange__laundry-main-title::after{
    content:"";
    display: block;
    width: 70%;
    height: 3px;
    margin: 40px 0 30px auto;
    background-color: var(--color-decorative);
}

.arrange__laundry-main-title{
   border-left: none;
}

.arrange__laundry-txt-second{
    position: absolute;
    top: 200px;
    left: -80px;
    font-family: var(--font-title);
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
}

/* 
  ******************
    MEDIAS QUERIES 
  ******************
*/

@media(min-width:480px){
    .arrange-shelf__img,
    .arrange__combined-p,
    .arrange__room-img,
    .arrange__laundry-img{
        margin-left: auto;
        margin-right: auto;
    }

    .arrange-shelf__img,
    .arrange-shelf__img-small img,
    .arrange-shelf__img-square img,
    .arrange__laundry-img{
        width: 70%;
    }

    .arrange__combined img,
    .arrange__combined-p,
    .arrange__room-img{
        width: 80%;
    }

}


@media(min-width: 768px){
    .arrange__header,
    .arrange-shelf__p,
    .arrange__room-txt,
    .arrange__laundry-txt {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .arrange__header {
        width: 70%;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .section-title{
        font-size: var(--font-size-title-inspiration);
        letter-spacing: var(--letter-spacing-title-inspiration);
    }

    .arrange-shelf__img{
        width: 100%;
    }

    .arrange-shelf__title {
        margin-left: 95px;
    }

    .arrange-shelf__p {
        width: 450px;
        margin-bottom: -60px;
        margin-left: 80px;
    }

    .arrange-shelf__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 0px 20px;
    }

    .arrange-shelf__img-small img, 
    .arrange-shelf__img-square img {
        width: 100%;
    }

    .arrange-shelf__img-square img {
        margin-bottom: 60%;
    }

    .arrange-shelf__banner{
        height: 50%;
    }

    section.arrange__combined{
        margin-top: 30px;
    }
    .arrange__combined-content {
        margin-bottom: 90px;
    }

    .arrange__combined img{
        width: 100%;
    }

    .arrange__combined-img{
        flex-direction: row;
        align-items: center;
        gap: 0 30px;
        width: 100%;
        max-width: 820px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .arrange__combined-img-rect{
        align-items: flex-end;
    }

    .arrange__combined-img-small{
        max-width: 400px ;
    }

    .arrange__combined-img-square {
        margin-left: 0;
        max-width: 470px;
    }

    .arrange__combined-img-tall{
        max-width: 275px;
    }

    .arrange-combined__banner{
        top: 0;
        width: 85%;
        height: 120%;
        margin: -60px 0px 0px -80px;
    }

    .arrange__contact {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    /* 
        Room 
    */
    .arrange__room-img{
        flex-direction: row;
        width: 100%;
        max-width: 830px;
        max-height: 670px;
        column-gap: 10px;
    }
   
    .arrange__room-img-tall img{
        max-width: 350px;
        height: 430px;
    }

    .arrange__room-img-small img{
        max-width: 350px;
        height: 240px;
    }

    .arrange__room-img-rect-1 img,
    .arrange__room-img-rect-2 img{
        max-width: 470px;
        height: 335px;
    }

    /* 
        Laundry 
    */
    .arrange__laundry-p{
        margin-left: 70px;
    }

    .arrange__laundry-txt-second {
        left: -120px;
    }

    .arrange__laundry-img{
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin-bottom: 10px;
    }

    .arrange__laundry-img-tall img{
        max-width: 335px;
        height: 430px;
    }

}

@media(min-width: 1024px){

    .arrange-shelf__img {
        padding-left: 20px;
        padding-right: 20px;
    }

    .arrange-shelf__p {
        margin-left: 200px;
    }
    
}

@media(min-width: 1200px){
    .arrange-shelf__p {
        margin-left: 300px;
    }

    .arrange-shelf__img {
        gap: 0px 40px;
    }

    .arrange-shelf__img-square img {
        margin-bottom: 40%;
    }
}

@media(min-width: 1420px){

    .arrange__header {
        width: 50%;
        margin-bottom: 300px;
    }

    .arrange section.arrange-shelf,
    .arrange section.arrange__laundry{
        margin-top: 200px;
    }

    .arrange-shelf__title {
        margin-bottom: -120px;
        width: 450px;
    }

    .arrange__icones {
        justify-content: center;
        gap: 0 150px;
    }

    section.arrange__combined {
        flex-direction: row;
        align-items: center;
        margin-top: 65px;
    }

    .arrange__combined-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin-bottom: 0;
    }

    .arrange__combined-p{
        width: 90%;
        margin: 0;
    }

    .arrange__combined-content::before{
        margin-top: 50px;
        margin-bottom: 70px;
        transform: rotate(90deg);
    }

    .arrange__combined-content::after{
        content:"";
        display: block;
        width: 50px;
        height: 2px;
        margin: 50px auto 50px auto;
        background-color: var(--color-decorative);
        transform: rotate(90deg);
    }

    .arrange-combined__banner {
        margin-left: -20px;
    }

    .arrange__room{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 0 30px;
        padding-left: 10px;
    }

    .arrange__room-txt{
        width: 40%;
        margin: 0;
    }

    .arrange .section-subtitle {
        margin-top: 0px;
    }

    .arrange__room-p{
        margin-bottom: 0;
    }

    .arrange section.arrange__laundry{
        margin-bottom: 100px;
    }

    section.arrange__laundry{
        display: flex;
        justify-content: center;
    }

    .arrange__laundry-txt{
        width: 50%;
        padding-left: 50px;
    }

    .arrange__laundry-main-title::after {
        width: 64%;
        margin: 40px -25px 30px auto;
    }

    .arrange__laundry-p {
        margin-left: 70px;
        margin-right: 30px;
    }

    .arrange__laundry-txt-second {
        left: -70px;
    }

    .arrange__laundry-img {

        justify-content: normal;
        margin-bottom: 0;
        width: 50%;

      }

    /* .arrange__contact{
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .arrange__contact a.btn-transparent-black{
   
            width: 260px;
            margin: 0;
          
    } */

    
}

