main.sdb{
  margin: 100px 0 0 0;
}

.sdb__header {
  width: 96%;
  margin: 0 auto 120px auto;
  text-align: center;
}


.sdb__header-subtitle{
  margin-bottom: var(--margin-bottom-subtitle);
  color: var(--color-decorative);
}

.section-title{
  font-size: var(--font-size-title-inspiration);
  letter-spacing: var(--letter-spacing-title-inspiration);
}

.sdb__section{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color-beige);
}

.sdb__section-img-small, 
.sdb__section-img-big{
  display: block;
  width: 100%;
}

.sdb__section-main{
  background-color: var(--bg-color-beige);
}

.sdb__section-main-title{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 205px;
  height: 165px;
  margin: -50px 30px 50px 30px;
  padding-bottom: 15px;
}

.sdb__section-main-title-left{
  padding-left: 15px;
  border-left: solid 5px var(--color-decorative);
}

.sdb__section-main-title-right{
  padding-right: 15px;
  margin-left: auto;
  border-right: solid 5px var(--color-decorative);
  text-align: right;
}

.sdb__section-main-title-bold,
.sdb__section-main-title-light{
  margin: 3px 0px;
  padding-bottom: 0px;
}

.sdb__section-main-title-bold{
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.090rem;
  text-transform: uppercase;
}

.sdb__section-main-title-light{
  font-size: 1.125rem;
}

.sdb-paragraphe{
  padding-bottom: 75px;
  color: var(--color-text);
}


/* 
  ******************
    MEDIAS QUERIES 
  ******************
*/

@media (min-width: 768px) {

  .sdb__section{
    flex-direction: row;
    max-width: inherit;
    margin-bottom: 100px;
    border-radius: 5px;
    overflow: hidden;
  }

  .sdb__section-right{
    flex-direction: row-reverse;
  }

  .sdb__section-img{
    width: 50%;
  }

  .sdb__section-main{
    width: 50%;
  }

  .sdb__section-main-title {
    flex-direction: column;
  }

  .sdb__section-main-title-left{
    margin: 70px 0px 50px -100px;
    padding-bottom: 15px;
    transform: rotate(90deg);
  }

  .sdb__section-main-title-right{
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-left: 15px;
      padding-bottom: 2px;
      transform: rotate(90deg);
      border-right: none;
      border-left: solid 5px var(--color-decorative);
      margin-top: 70px;
      margin-right: -100px;
  }
}


@media (min-width: 1024px) {
  .vertical-text {
    writing-mode: vertical-rl; 
    text-orientation: upright; 
    padding: 10px;
  }

  main.sdb{
    max-width: 1200px;
    margin: 120px auto;
  }

  .sdb__header {
    width: 70%;
  }

  .sdb__section-img{
    width: 40%;
  }

  .sdb__section-main{
    width: 60%;
  }

  .sdb__section-main-paragraphe-right{
    margin: 0px 30px 90px 80px;
  }

  .sdb__section-main-paragraphe-left{
    margin: 0px 80px 90px 30px;
  }

}


@media (min-width: 1200px) {
  .sdb__section{
    height: 700px;
  }

  .sdb__section-main-paragraphe-right{
    margin: -50px 60px 90px 160px;
  }

  .sdb__section-main-paragraphe-left{
    margin: -50px 160px 90px 60px;
  }

}





