main.cuisines{
    margin: 120px auto;
}

.cuisines-header{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cuisines-header__subtitle{
    margin-bottom: var(--margin-bottom-subtitle);
    font-size: var(--font-size-subtitle-inpiration);
    color: var(--color-decorative);
}

.section-title{
    font-size: var(--font-size-title-inspiration);
    letter-spacing: var(--letter-spacing-title-inspiration);
}


.cuisines-section{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 100px auto;
}

.cuisines-section__img-large,
.cuisines-section__img-large-r,
.cuisines-section__img-small{
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.cuisines-section__img-large{
    display: block;
    width: 96%;
    max-width: 900px;
    height: auto;
    max-height: 500px;
}

.cuisines-section__img-large-r{
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.cuisines-section__content, 
.cuisines-section__content-right{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.cuisines-section__content-right{
    align-items: flex-start;
}

.cuisines-txt{
  padding-left: 12px;
  width: 90%;
  margin: 0 auto;
}

.cuisines h2{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 2.188rem;
    letter-spacing: -0.063px;
}

.cuisines-paragraphe{
    padding: 35px 20px 35px 0px;
}

.cuisines-title-beige{
    color : var(--color-decorative);
}

.cuisines-title-black{
    color: var(--color-h2);
}

.cuisines-section__img-small{
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 400px;
    margin-top: -20px;
    margin-bottom: 50px;
}

@media(min-width: 768px){
    .cuisines-header{
        width: 80%;
    }
    .cuisines-container__img-small{
        width: 80%;
    }
}

@media(min-width: 1024px){
    .cuisines-header{
        width: 70%;
    }
    .cuisines-section__content, 
    .cuisines-section__content-right{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .cuisines-section__content-right{
        flex-direction: row-reverse;
        /* align-items: flex-end; */
    }

    .cuisines-txt{
       width: 45%;
       padding-top: 50px;
       padding-left: 20px;
    }
}

@media(min-width: 1200px){
    main.cuisines{
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .cuisines h2{
        font-size: 2.5rem;
    }
}

@media(min-width: 1440px){
    main.cuisines{
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .cuisines-txt{
        padding-left: 0px;
    }

    .cuisines-elegantes__content, 
    .cuisines-natures__content {
        padding-left: 30px;
    }
}


