main.agencement{
    margin: 120px auto;
}

.agencement__header {
    width: 96%;
    margin: 0 auto 100px auto;
    text-align: center;
}

.agencement__header-subtitle{
    margin-bottom: var(--margin-bottom-subtitle);
    color: var(--color-decorative);
}

@media(min-width: 768px){
    .agencement__header {
        width: 70%;
    }

    .section-title{
        font-size: var(--font-size-title-inspiration);
        letter-spacing: var(--letter-spacing-title-inspiration);
    }
}


@media(min-width: 1024px){
    .agencement__header {
        width: 60%;
    }

    .section-title{
        font-size: var(--font-size-title-inspiration);
        letter-spacing: var(--letter-spacing-title-inspiration);
    }
}

@media(min-width: 1420px){
    .agencement__header {
        width: 50%;
    }
}