main.dressings{
    margin: 120px auto;
}

.dressings__header {
    width: 96%;
    margin: 0 auto 100px auto;
    text-align: center;
}

.dressings__header-subtitle{
    margin-bottom: var(--margin-bottom-subtitle);
    color: var(--color-decorative);
}

.section-title{
    font-size: var(--font-size-title-inspiration);
    letter-spacing: var(--letter-spacing-title-inspiration);
}

.dressings article {
    margin-bottom: 100px;
}

.dressing-hdg{
    position: relative;
    background-color: var(--bg-color-grey);
    padding: 80px 0;
}

.dressing-hdg-bg-img-subtitle{
    position: relative;
    flex-direction: column;
}

.dressings__section-bg-img-subtitle{
    position: relative;
    display: flex;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.dressings__section-bg{
    position: relative;
    z-index: 1;
    width: 140px;
    height: 420px;
    margin-right: -15px;
    background-color: var(--bg-color-blue);
}

.dressing-hdg .dressings__section-bg{
    width: 365px;
    height: 140px;
}

.dressings__section-img img{
    width: 325px;
    height: 295px;
    margin-top: 30px;
    margin-left: -30px;
    border-radius: 5px;
}

.dressing-hdg .dressings__section-img img{
    width: 320px;
    height: 290px;
    margin-left: -25px;

}

.dressings__section-img-subtitle{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-left: -50px;
    margin-top: 30px;
}

.dressing-hdg .dressings__section-img-subtitle{
    position: absolute;
    flex-direction: row-reverse;
    top: -30px;
    left: 85px;
}

.dressings__section-subtitle{
    display: inline-flex;
    align-items: center;
    font-family: var(--font-subtitle);
    font-size: 1.2rem;
    letter-spacing: 0.032rem;
}

.dressing-hdg .dressings__section-subtitle{
    transform: rotate(90deg);
    height: 0px;
    width: 250px;
    min-width: 250px;
    margin-left: -108px;
    margin-top: 190px;
}

.dressings__section-subtitle::before{
    content: "";
    display: inline-block;
    width: 100px; 
    height: 4px; 
    margin-right: 10px;
    vertical-align: middle;
    background-color: var(--bg-border); 
}

.dressings__section-main{
    padding-top : 40px;
}

.dressings__section-main-top{
    margin-top: 180px;
}

.dressings__section-main-title{
    text-transform: capitalize;
}

@media(min-width: 480px){
    .dressings__section-bg-img-subtitle{
        width: 390px;
    }

    .dressing-hdg .dressings__section-bg {
        width: 390px;
    }

    .dressing-hdg .dressings__section-img img {
        margin-left: -10px;
    }
   
    .dressing-hdg .dressings__section-subtitle {
      margin-left: -103px;
    }

    .dressings__section-main {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(min-width: 768px){
    .dressing-hdg .dressings__section-bg {
        width: 420px;
    }

    .dressing-hdg .dressings__section-subtitle {
        margin-left: -92px;
    }
    
    .dressing-hdg .dressings__section-img img {
        margin-left: 0px;
        margin-top: 35px;
      }

    .dressings__section-main {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(min-width: 1024px){
    .dressings__header {
        width: 80%;
    }

    .dressings article {
        display: flex;
    }

    .dressing__section-left{
        align-items: center;
        align-content: center;
    }
}

@media(min-width: 1200px){
    .dressings__header {
        width: 70%;
    }

    .dressings article {
        align-content: center;
        justify-content: center;
    }

    article.dressing-hdg{
        max-width: 100%;
    }

    .dressings__section-bg-img-subtitle {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
      }
    
    .dressings__section-main{
        max-width: 515px;
    }
}

@media(min-width: 1420px){
    .dressings__section-bg {
        width: 240px;
        height: 660px;
    }

    .dressing-hdg .dressings__section-bg {
        width: 840px;
        height: 240px;
    }

    .dressings__section-subtitle {
        margin-left: 15px;
        font-size: 1.4rem;
    }

    .dressing-hdg .dressings__section-subtitle {
        width: 350px;
        margin-left: 90px;
        transform: rotate(0deg);
    }

    .dressings__section-img img,
    .dressing-hdg .dressings__section-img img{
        width: 650px;
        height: 528px;
    } 
  
    .dressings__section-img img {
        margin-left: -130px;
    }

    .dressing-hdg .dressings__section-img img {
        margin-left: 10px;
        margin-top: 48px;
    }
    
    .dressings__section-main-top {
        /* width: 600px; */
        max-width: 600px;
        margin-top: 250px;
        margin-left: -130px;
    }

    .dressings__section-main-title {
        font-size: 2rem;
    }

}